.DS_Store
.netrwhist
.viminfo
viminfo
.R*
.bash_history
.CFUserTextEncoding
.Xauthority
.gitconfig
.dbshell
.lesshst
.sunlight.key
.jline-jython.history
.htoprc
.cache
.ssh
.dropbox
.filezilla
.ipython
.inkscape-etc
.putty
.npm
.fontconfig
.config
.subversion
