# mac defaults
.CFUserTextEncoding
.DS_Store
.Trash/
.viminfo
.bash_history
.ssh/
README.md

# apps & libs
.dropbox/
.filezilla/
.Rapp.history
.Xauthority
.z
.ipython/
.sunlight.key
.lesshst
.scm_breeze/
.appcfg_cookies
.irssi/
.npm/
.matplotlib/
.virtualenvs/
.jline-jython.history
.gem/
.rvm/
.Rprofile
.htoprc
.dbshell
.mongorc.js
.sqlite_history
.qgis/

# files in folders
.netrwhist
ctrlp
fontconfig
pip.log

# folders
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
Public/
data/
dev/
nltk_data/
