[user]
    name = Lucy Park
    email = me@lucypark.kr
[push]
    default = simple
[alias]
    unstage = reset --soft HEAD^
[core]
	editor = /usr/local/bin/vim
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
