[user]
    name = Lucy Park
    email = me@lucypark.kr
[push]
    default = simple
[alias]
    unstage = reset --soft HEAD^
    restore = reset --hard origin/master
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = true
    pager = true
[core]
    editor = vim
[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
