# ignore all except dotfiles
*
!.*

# all history files
.*history

# mac defaults
.CFUserTextEncoding
.DS_Store
.Trash/
.viminfo
.ssh/

# apps & libs
.dropbox/
.filezilla/
.Xauthority
.z
.ipython/
.sunlight.key
.lesshst
.appcfg_cookies
.irssi/
.npm/
.matplotlib/
.virtualenvs/
.gem/
.rvm/
.Rprofile
.htoprc
.dbshell
.mongorc.js
.qgis/

# files in folders
.netrwhist
ctrlp
fontconfig
pip.log
.VimballRecord

# others
.bash_constants
