[submodule ".scm_breeze"]
	path = .scm_breeze
	url = https://github.com/e9t/scm_breeze.git
[submodule ".rbenv"]
	path = .rbenv
	url = https://github.com/rbenv/rbenv.git
[submodule ".pyenv"]
	path = .pyenv
	url = https://github.com/pyenv/pyenv.git
[submodule ".fzf"]
	path = .fzf
	url = https://github.com/junegunn/fzf.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
